.footer {
    color: #fff;

    .container {
        background: #3C3C3C;
    }

    a {
        color: #fff;
    }
    ul {
        list-style: none;
        margin-left: 0;
    }

    .footer__copyright {
        text-align: center;
        color: #3C3C3C;
        padding-top: 24px;
    }
}